@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    height: 105vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: rgb(185, 181, 181);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    border: 3px solid rgba(8, 5, 5, 0.411);
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.295);
    transition: background 500ms;
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0.397);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.carlogo {
    width: 15rem;
}

.hero {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    background-image: linear-gradient(to right top, hsla(0, 0%, 0%, 0.932), #050404);
    z-index: -1;
    display: flex;
    align-items: center;
}

.ninja {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
    opacity: 70%;
    height: 100dvh;
    width: 100dvw;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.title {
    color: rgb(88, 134, 92);
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 12vh;
    margin: 0;
}

.subtitle {
    color: rgb(255, 255, 255);
    font-family: 'Urbanist', sans-serif;
    font-weight: 1000;
    font-size: 1vh;
    margin: 0;
    padding-right: 100rem;
}
